@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300400;600;700;800&display=swap');

  .logo-font {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  transform: skewX(-10deg);
  display: inline-block;
}

  .badge-font {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  transform: skewX(-10deg);
  display: inline-block;
}

.logo-large {
  font-size: 2.5rem; /* 40px */
  line-height: 1;
}

.logo-bold {
  font-weight: 800;
  letter-spacing: -0.5px;
}

.logo-regular {
  font-weight: 200;
  letter-spacing: -0.2px;
}
